.individual-country {
  /* font-size: 3rem; */
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  height: 80vh;
  background-color: aliceblue;
}

.individual-country.dark {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.individual-button {
  width: 100px;
  height: 50px;
}

.individual-button.dark {
  color: white;
  background-color: var(--dark-blue);
  border-color: white;
}

.individual-details {
  /* display: flex; */
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.individual-details img {
  width: 90%;
  height: 45vh;
}

.individual-detail {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 2rem;
}

.details {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}

.borderCoun {
  display: flex;
  gap: 10px;
  align-items: center;
}
