.borders {
  height: 30px;
  width: 100px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  color: inherit;
  background: inherit;
  text-decoration: none;
}
