.asc,
.desc {
  width: 100px;
  margin: 1px;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.asc.dark,
.desc.dark {
  background-color: var(--dark-blue);
  color: white;
  border-color: white;
}

.population-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--white); */
  background-color: aliceblue;
  color: black;
}

.population-container.dark {
  background-color: var(--dark-blue);
  color: white;
}
